.country {
  padding: 30px 20px;
  /* display: flex; */
}

.backLink {
  background-color: var(--dark-card);
  margin: 0px 0 20px 0;
  display: inline-block;
  font-size: 3vmin;
}
.backLink.light-mood {
  background-color: var(--light-card);
}
.country img {
  width: 100%;
}

.country article .country-details div {
  margin-top: 50px;
}
.country article .country-details div h5 span {
  font-weight: 300;
}
.country article .country-details div h5 {
  /* font-weight: 600; */
  margin: 10px 0;
  font-size: 16px;
}

.country article .borders ul {
  list-style: none;
  /* background-color: var(--dark-card); */
  display: flex;
  flex-wrap: wrap;
}
.country .borders ul li {
  background-color: var(--dark-card);
  padding: 2px 20px;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 0 5px 8px var(--dark-shadow);
}
.country .borders ul li.light-mood {
  background-color: var(--light-card);
  color: var(--dark-text);
  box-shadow: 0 5px 8px var(--light-shadow);
}

@media (min-width: 922px) {
  .country {
    padding: 50px 140px;
  }
  .backLink {
    margin: 0px 0 50px 0;
  }
  .country .title h2 {
    margin-left: 10vmin;
  }
  .country article {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .country-details .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/* @media (min-width: 1200px) {
  .country{
    max-width: 1100px;
    margin: auto;
  }
} */
