.country {
  padding: 30px 20px;
  /* display: flex; */
}

.backLink {
  background-color: var(--dark-card);
  margin: 0px 0 20px 0;
  display: inline-block;
  font-size: 3vmin;
}
.country img {
  width: 100%;
}

.country article .country-details div {
  margin-top: 50px;
}
.country article .country-details div h5 span {
  font-weight: 300;
}
.country article .country-details div h5 {
  /* font-weight: 600; */
  margin: 10px 0;
  font-size: 16px;
}

.country article .country-details ul {
  list-style: none;
  /* background-color: var(--dark-card); */
  display: flex;
  flex-wrap: wrap;
}
.country article .country-details ul li {
  background-color: var(--dark-card);
  padding: 2px 20px;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 0 5px 8px var(--dark-shadow);
}

@media (min-width: 922px) {
  .country {
    padding: 50px 40px;
  }
  .backLink {
    margin: 0px 0 50px 0;
  }
  .country img {
    width: 30%;
  }
  /* .country-details {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  } */
  .country-details article {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
